@charset "utf-8";
@import url(reset.css);

header {
    background: gray;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* 창분할: ctrl+alt+좌우방향키 */
nav li {
    display: inline-block;
}