@charset "utf-8";

* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body,h1,h2,h3,p,ul {
    margin:0;
}
ul {
    padding:0;
}

iframe {
    width:1500px;
    height: 845px;
    border: none;
}