@charset "utf-8";
@import url(reset.css);
@import url(common.css);

.container {
    width: 1500px;
    padding: 56px 0 160px 0;
    box-sizing: content-box;
    margin: 0 auto;
}
h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.4rem;
    padding: 80px 0 16px 0;
    margin-bottom: 48px;
    font-weight: normal;
    border-bottom: 1px solid #f1f1f1;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container ul li {
    position: relative;
    width: 360px;
    margin-bottom: 16px;
}

.container ul li span {
    position: absolute;
    font-family: Verdana, sans-serif;
    color: #fff;
    padding: 8px 16px;
    background: #000;
}