@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font: 15px/1.6 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}
img {
    width: 100%;
}